.main-container{
    display: grid;
    grid-template-columns: 3fr 1fr;

}
.card-container{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    
}
.total-doller{
    border: 1px solid cyan;
    background-color: gray;   
    border-radius: 20px; 
}
.total-doller h3{
    color:whitesmoke ;
    padding: 10px;
}